.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.login-form {
  max-width: 300px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añade sombra */
}

.login-form input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
  border-radius: 15px;
}

.login-form button {
  padding: 10px;
  font-size: 18px;
  background-color: #50b7f5;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  justify-content: center;
}

.login-form button:hover {
  background-color: #0070b1;
  border: 3px solid #50b7f5;
  color: white;
}

.login-form button:active {
  background-color: #ebebeb;
  border: 3px solid #004bc4;
  color: #004bc4;
}

.recover-password-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
  display: inline-block;
}


.icon-container {
  text-align: center; /* Centrar horizontalmente */
  margin-bottom: 20px; /* Espacio inferior */
  
}

.social-icon {
  width: 100px; /* Ancho deseado */
  height: 100px; /* Alto deseado */
}
